@charset "UTF-8";
/* layout general
 -----------------------------------------------------*/
/* general setting
 -----------------------------------------------------*/
* {
  outline: transparent;
}


body {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(2px + 1vw);
  color: #333;
  line-height: 1.5;
  background: #FFF;
  margin: 0;

}

a {
  color: #0bb4b7;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
    text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #0bb4b7;
}
a:focus {
  outline: none;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
 font-family: 'Montserrat', sans-serif;
}
h4{
    font-size: calc(30px + 1vw);
}
p {
  margin-bottom: 15px;
}
p:last-child {
  margin-bottom: 0px;
}

input[type=submit] {
  border: none;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.wrapper{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #FFF;
  z-index: 9999;
  padding: 10px 0px;
}
.wrapper .logo{
  width: 16%;
  display: inline-block;
  float: left;
  max-width: 150px;
}
.wrapper .logo img{
  width: 100%;
}
.wrapper .main-menu{
  width: 80%;
  display: inline-block;
  float: right;
}
.wrapper .main-menu li{
  float: left;
  padding: 24px 5px;
}
.wrapper .main-menu li a{
  color: #a96b11;
  text-transform: uppercase;
  font-weight: 500;
  font-size: calc(2px + 0.8vw);
}
.menu-btn{
  display: none;
}
.wrapper .main-menu .logo{
  display: none;
}

.active-mn{
  visibility: visible !important;
  left: 0% !important;
  transition: all 0.5s ease-in-out;
}
.active-mnx{
  visibility: hidden !important;
  left: -100% !important;
  transition: all 0.5s ease-in-out;
}

.md-container {
    height: 100vh; 
    overflow-y: auto; 
    scroll-snap-type: y mandatory; 
}

.section {
    height: 100vh; 
    scroll-snap-align: start; 
    padding-top: 90px;
}

.md-container::-webkit-scrollbar {
    width: 0px; /* For vertical scrollbars */
    height: 0px; /* For horizontal scrollbars */
}

/* Optional: If you want to remove the track and thumb completely */
.md-container::-webkit-scrollbar-track {
    background: transparent;
}

.md-container::-webkit-scrollbar-thumb {
    background: transparent;
}
.section img{
  width: 100%;
  height: auto;
}
.section-1 .logo-banner{
  width: 12.5%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30%;
  height: auto;
}
.section-1{
  position: relative;
}
.section-1 h2{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 43%;
  color: #FFF;
  font-size: calc(20px + 3vw);
  width: 100%;
  text-align: center;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-weight: 500;
}
.section-1 p{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 62%;
  color: #FFF;
  width: 100%;
  text-align: center;
}
.section-1 .watch-vd{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 72%;
  color: #070E28;
  background: #FFDD59;
  padding: 5px 30px;
  border-radius: 1px;
  font-family: "Playfair Display", serif;
}
.section-1 .watch-vd:hover{
  background: #070E28;
  color: #FFDD59;
}
.section-1 .md-scroll{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 80%;
  color: #FFF;
  width: 5%;
  font-size: calc(2px + 0.5vw);
  text-align: center;
}
.section-1 .md-scroll img{
  width: 60%;
  display: table;
  margin: 0 auto;
  height: auto;
}
.section-2{
  display: flex;
  position: relative;
}
.section-2 .md-left{
  
  left: 0%;
  bottom: 0%;
  width: 33.33%;
  /*background: url(../images/story-1.png) no-repeat;
  background-size: 100% 100%;*/
  padding: 70px 30px 0px 30px;
  position: relative;
  background: #ffc549;
  position: absolute;
  height: calc(100% - 90px);
}
.section-2 .md-left .bg-md-left{
  position: absolute;
  width: 70%;
  bottom: 0;
  left: 0;
  height: auto;
}
.section-2 .md-right{
  overflow: hidden;
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: 66.66%;
  height: calc(100% - 90px);
}
.section-2 .md-right img{
  position: absolute;
  bottom: 0;
  left: 0;
}
.section-2 .md-right .owl-carousel{
  position: absolute;
  bottom: 0;
  left: 0;
}
.section-2 .md-right .owl-carousel img{
  position: relative;
}
.section-2 .md-right .owl-theme .owl-nav{
  margin: 0px;
}
.section-2 .md-right .owl-theme .owl-nav button{
  outline: none;
}
.section-2 .md-right .owl-theme .owl-nav .owl-prev{
  background: url(../images/ico-left.png) no-repeat;
  background-size: 100% 100%;
  width: 20px;
  height: 28px;
  display: block;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}
.section-2 .md-right .owl-theme .owl-nav .owl-next{
  background: url(../images/ico-right.png) no-repeat;
  background-size: 100% 100%;
  width: 20px;
  height: 28px;
  display: block;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
.section-2 .md-right .owl-theme .owl-nav button span{
  display: none;
}
.section-2 .md-right .mdbar-slider{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
  width: 80%;
  z-index: 2;
}
.section-2 .md-right span{
  width: 31%;
  height: 5px;
  background: #d9d9d9;
  display: block;
  float: left;
  margin-right: 2%;
  border-radius: 2px;
}
.section-2 .md-right span.active{
  background: #FFDD59;
}
.section-2 .md-right span:last-child{
  margin-right: 0%;
}
.section-2 .md-scroll{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  text-align: center;
  width: 6%;
  z-index: 2;
}
.section-2 .md-scroll{
  font-size: calc(2px + 0.5vw);
  color: #FFF;
}
.section-2 .md-scroll img{
  width: 100%;
  display: table;
  margin: 0 auto 10px auto;
  height: auto;
}
.section-2 .md-left h6{
  font-size: calc(6px + 2vw);
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
}
.section-2 .md-left{
  color: #BA7C38;
}
.section-2 .md-left .md-text-1{
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}
.section-2 .md-left p{
  position: relative;
  z-index: 2;
}
.section-2 .md-left .md-text-2{
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}
.md-section-3{
  height: auto;
/*  padding-top: 0px;*/
  background: #F9F4ED;
  padding-bottom: 50px;
}
.md-section-3 h6 span{
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: calc(6px + 2vw);
  font-family: "Playfair Display", serif;

}
.md-section-3 h6{
  color: #BA7C38;
  margin-left: 5%;
  margin-bottom: 50px;
}
.md-section-3 .sc3-img-1{
  width: 100%;
  height: auto;
  overflow: hidden;
  display: block;
}
.md-section-3 .sc3-img-1:hover img{
      transform: scale(1.1);
      transition-duration: 0.3s;
}
.md-section-3 .main-content{
  background: #FFF;
  padding: 10px 15px;
}
.md-section-3 .main-content .md-title{
  font-weight: 700;
  margin-bottom: 5px;
}
.md-section-3 .main-content .md-title a{
  color: #333;
}
.md-section-3 .main-content .md-title a:hover{
  color: #a96b11;
}
.md-section-3 .main-content .md-text-3{
  font-size: calc(2px + 0.7vw);
  color: #818181;
}
.md-section-3 .main-content .md-address{
  font-size: calc(2px + 0.7vw);
  margin-bottom: 30px;
}
.md-section-3 .main-content .md-address span{
  color: #818181;
}
.md-section-3 .main-content .md-address p{
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #DDAC67;
  font-weight: 700;
}
.md-section-3 .main-content .md-address img{
  width: 4%;
  height: auto;
  margin-right: 3px;
}
.md-section-3 .main-content .md-link img{
  width: 10%;
  height: auto;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.md-section-3 .main-content .md-link{
  border-top: 1px solid #F1F1F1;
  padding: 15px 0px;
}
.md-section-3 .main-content .md-link a{
  color: #DDAC67;
  display: inline-block;
  font-size: calc(2px + 0.7vw);
  background: #F9F4ED;
  border-radius: 10px;
  padding: 8px 25px 8px 15px;
  position: relative;
  line-height: 1;
}
.md-section-3 .main-content .md-link a:hover{
  background: #BA7C38;
  color: #FFF;
}
.md-section-3 .main-title{
  padding: 30px 0px;
  border-top: 2px solid #BA7C38;
  margin-bottom: 0px;
  text-transform: uppercase;
  color: #BA7C38;
  font-weight: 700;
  font-size: calc(4px + 1.5vw);
  font-family: "Playfair Display", serif;
}
.md-section-3 .main-title span{
  font-weight: 400;

}
.md-section-3 .row{
  margin-bottom: 40px;
}
.md-section-4{
  height: auto;
  background: #FFC549;
  position: relative;
  padding-bottom: 30px;
}
.md-section-4 .bg-sc4{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 25%;
  height: auto;
}
.md-section-4 h6{
  margin-left: 5%;
    margin-bottom: 50px;
    color: #BA7C38;
    text-transform: uppercase;
    font-weight: 700;
    font-size: calc(6px + 2vw);
    font-family: "Playfair Display", serif;
}
.md-section-4 h6 span{
  display: block;
  font-size: calc(4px + 1vw);
}
.md-section-4 .md-row .md-col{
  width: 24.5%;
  float: left;
  position: relative;
  margin-right: 0.5%;
}
.md-section-4 .md-row .md-col .md-text-1{
  position: absolute;
  left: 10px;
  bottom: 10px;
  margin-bottom: 0px;
  width: 50%;
  color: #FFDD59;
  font-size: calc(2px + 0.6vw);
}
.md-section-4 .md-row .md-col.active .md-text-1{
  width: 25%;
}
.md-section-4 .md-row .md-col.active{
  transition-duration: 0.3s;
}
.md-section-4 .md-row .md-col .md-text-1 span{
  font-family: "Playfair Display", serif;
  font-weight: 500;
  display: block;
  font-size: calc(6px + 1vw);
  margin-bottom: 5px;
}
.md-section-4 .md-row .md-col .md-text-2{
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 60%;
  color: #FFF;
  visibility: hidden;
  font-size: calc(2px + 0.6vw);
}
.md-section-4 .md-row .md-col.active{
  width: 49.5%;
}
.md-section-4 .md-row .md-col.active .md-text-2{
  visibility: visible;
}
.md-section-4 .md-row .md-col img{
  width: 100%;
  height: auto;
}
.md-section-4 .md-row .md-col .img-active-1{
  display: none;
  position: relative;
}
.md-section-4 .md-row .md-col .img-active-1 .bg-img-active-1{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80%;
  background: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, rgba(83, 50, 14, 1) 100%);
}
.md-section-4 .md-row .md-col .img-active-2{
  display: block;
  position: relative;
}
.md-section-4 .md-row .md-col .img-active-2 .bg-img-active-1{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80%;
  background: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, rgba(83, 50, 14, 1) 100%);
}
.md-section-4 .md-row .md-col.active .img-active-1{
  display: block;
}
.md-section-4 .md-row .md-col.active .img-active-2{
  display: none;
}
.footer{
  scroll-snap-align: start;
}
.footer .top-footer{
  background: #b67e3d;
  color: #FFF;
  padding: 30px 0px;
}
.footer .top-footer .md-social{
  text-align: center;
}
.footer .top-footer .md-social a{
  width: 20%;
  display: inline-block;
}
.footer .top-footer .md-social a img{
  width: 100%;
}
.top-footer h6{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: calc(15px + 1vw);
  font-weight: 700;
}
.top-footer a{
  color: #FFF;
}
.top-footer strong{
  display: block;
  margin-bottom: 10px;
  font-size: calc(4px + 1vw);
  text-transform: uppercase;
}
.bot-footer{
  background: #836f50;
  color: #FFF;
  padding: 15px 0px;
}
.bot-footer .left-footer{
  float: left;
  width: 70%;
}
.bot-footer .right-footer{
  float: right;
  width: 25%;
  text-align: right;
}
.bot-footer .right-footer img{
  width: 60%;
}
.bot-footer h6{
  font-size: calc(4px + 1vw);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.bot-footer p{
  margin-bottom: 5px;
  font-size: calc(2px + 0.8vw);
}
@media (min-width: 1400px) and (max-width: 1599px){
  .container{
    max-width: 1300px;
  }
}
@media (min-width: 1599px) {
    .container {
        max-width: 1400px;
    }
    .section-2 .md-left{
      height: calc(100% - 103px);
    }
    .section-2 .md-right{
      height: calc(100% - 100px);
    }
    .section-2 .md-scroll{
      width: 7%;
      font-size: calc(2px + 0.7vw);
    }
    .section-2 .md-scroll img{
      margin: 0 auto 15px auto;
      width: 100%;
    }
}
@media (min-width: 1919px) {
    .container {
        max-width: 1700px;
    }
    .wrapper .main-menu li{
      padding: 24px 7px;
    }
    .md-section-3 .main-content .md-link a{
      padding: 8px 40px 8px 15px;
    }
    .md-section-3 .main-content .md-address img{
      margin-right: 10px;
      width: 4%;
    }
    .section-2 .md-left{
      height: 957px;
    }
}
@media (min-width: 2047px){
  .section-2 .md-left{
      height: 980px;
    }
}
@media (min-width: 2500px){
  .md-section-3 .main-content .md-link a{
    padding: 15px 50px 15px 20px;
    border-radius: 15px;
  }
  .md-section-3 .main-content .md-link img{
    right: 15px;
  }
  .container{
    max-width: 2000px;
  }
  .wrapper{
    padding: 20px 0px;
  }
  .wrapper .main-menu{
    width: 85%;
  }
  .wrapper .main-menu li{
    padding: 24px 10px;
  }
  .wrapper .logo{
    width: 10%;
    max-width: none;
  }
  .section{
    padding-top: 132px;
  }
  .section-2 .md-right{
    height: calc(100% - 132px);
  }
  .section-2 .md-left{
    height: 1277px;
    padding: 200px 70px 0px 70px;
  }
  .section-2 .md-left h6{
    margin-bottom: 50px;
  }
  p{
    margin-bottom: 40px;
  }
  .md-section-4 .md-row .md-col .md-text-1{
    bottom: 30px;
    left: 30px;
  }
  .md-section-4 .md-row .md-col .md-text-2{
    right: 30px;
    bottom: 30px;
  }
  .section-1 .logo-banner{
    top: 28%;
  }
  .section-1 p{
    top: 60%;
  }
  .main-popup .fancybox-close-small{
    width: 48px !important;
    height: 48px !important;
  }
  .section-2 .md-scroll img{
    margin: 0px auto 25px auto;
  }
  .md-section-3 .main-content .md-link img{
    width: 17px;
  }
  ul.submenu{
    padding: 20px 0px 20px 20px !important;
    width: 320px !important;
  }
}
@media (min-width: 2565px){
  .section-2 .md-left{
    height: 1280px;
  }
}
@media (min-width: 3800px){
  .md-section-3 .main-content .md-link img{
    width: 25px;
  }
  .section-1 .watch-vd{
    padding: 7px 50px;
  }
  .container{
    max-width: 3100px;
  }
  .wrapper .main-menu li{
    padding: 30px 15px;
  }
  .wrapper .logo{
    max-width: 300px;
  }
  .section{
    padding-top: 160px;
  }
  .section-1 .logo-banner{
    top: 18%;
  }
  .section-1 h2{
    top: 33%;
  }
  .section-1 p{
    top: 44%;
  }
  .section-1 .watch-vd{
    top: 56%;
  }
  .section-1 .md-scroll{
    top: 68%;
  }
  .section-2 .md-left{
    height: 1914px;
    padding: 300px 100px 0px 100px;
  }
  p{
    margin-bottom: 30px;
  }
  .section-2 .md-left h6{
    margin-bottom: 30px;
  }
  .section-2 .md-scroll img{
    margin: 0px auto 30px auto;
  }
  .md-section-3{
    height: auto;
  }
  .md-section-4{
    height: auto;
  }
  ul.submenu{
    width: 500px !important;
    padding: 10px 10px 20px 10px !important;
  }
  .md-section-3 .main-content .md-link a{
    padding: 20px 60px 20px 30px;
  }
  .md-section-3 .main-content .md-link img{
    right: 20px;
  }
  .md-section-4 .md-row .md-col .md-text-1{
    left: 30px;
    bottom: 20px;
  }
  .md-section-4 .md-row .md-col .md-text-2{
    right: 30px;
    bottom: 20px;
  }
}
.main-popup{
  display: none;
  width: 60%;
  padding: 0px;
  overflow: hidden;
  margin: 0px;
  background: transparent;
}
.main-popup .fancybox-close-small{
  color: #FFF;
  padding: 0px;
  width: 24px;
  height: 24px;
}
.main-popup .fancybox-button svg{
  background: #a96b11;
  border-radius: 50%;
}
.main-popup video{
  width: 100%;
  height: 100%;
  border: 2px solid #a96b11;
      border-radius: 3px;
}
.md-desktop{
  display: block;
}
.md-mobile{
  display: none;
}
.wrapper .main-menu li{
  position: relative;
}
ul.submenu{
  position: absolute;
  left: 0;
  padding: 5px 5px 10px 5px;
  width: 230px;
  background-color: rgba(169, 107, 17, 0.4);
  display: none;
  transition-duration: 0.3s;
}
.wrapper .main-menu li:hover ul.submenu{
  display: block;
  transition-duration: 0.3s;
}
ul.submenu li{
  float: none !important;
  padding: 0px !important;
  
}
ul.submenu li a{
  color: #FFF !important;
}
.md-section-3 h6{
  font-size: calc(4px + 1vw);
}
@media screen and (max-width: 767px){
  .md-section-3 h6{
    font-size: calc(6px + 1vw);
  }
  .footer .top-footer .md-social a{
    width: 10%;
  }
  .main-popup{
    width: 100%;
  }
  .md-desktop{
    display: none;
  }
  .md-mobile{
    display: block;
  }
  body{
    font-size: calc(10px + 1vw);
  }
  .wrapper .logo{
    width: 20%;
  }
  .section-1{
    height: auto;
    scroll-snap-align: none;
    padding-top: 60px;
  }
  .section-1 .logo-banner{
    width: 30%;
  }
  .section-1 h2{
    top: 40%;
  }
  .section-1 h2 span{
    display: block;
  }
  .section-1 .md-scroll{
    width: 15%;
    font-size: calc(4px + 1vw);
  }
  .section-2 .md-scroll{
    width: 10%;
    font-size: calc(2px + 1vw);
    display: none;
  }
  .section-2 .md-left h6{
    font-size: calc(20px + 2vw);
    margin-bottom: 20px;
  }
  .md-section-3 .col-sm-6{
    margin-bottom: 15px;
  }
  .md-container{
    height: auto;
    overflow-y: auto;
  }
  .section-2{
    padding-top: 0px;
    display: block;
    height: auto;
    scroll-snap-align: none;
  }
  .section-2 .md-left{
    position: relative;
    width: 100%;
    height: auto;
    padding: 30px 20px 70px;
  }
  .section-2 .md-left .bg-md-left{
    width: 50%;
  }
  .section-2 .md-right{
    position: relative;
    width: 100%;
    height: auto;
  }
  .section-2 .md-right img{
    position: relative;
  }
  .md-section-3{
    padding-top: 50px;
  }
  .md-section-3 h6 span{
    font-size: calc(20px + 2vw);
  }
  .md-section-3 .main-title{
    font-size: calc(6px + 2vw);
  }
  .md-section-3 .main-content .md-text-3{
    font-size: calc(6px + 1vw);
  }
  .md-section-3 .main-content .md-address{
    font-size: calc(6px + 1vw);
    margin-bottom: 15px;
  }
  .md-section-3 .main-content .md-address img{
    width: 2.5%;
    margin-right: 5px;
  }
  .md-section-3 .main-content .md-link a{
    font-size: calc(6px + 1vw);
  }
  .md-section-3 .main-content{
    padding: 10px 20px;
  }
  .md-section-4{
    padding-top: 50px;
  }
  .md-section-4 .md-row .md-col .img-active-1{
    display: none;
  }
  .md-section-4 .md-row .md-col .img-active-2{
    display: block;
  }
  .md-section-4 .md-row .md-col.active .img-active-2{
    display: block;
  }
  .md-section-4 .md-row .md-col.active .img-active-1{
    display: none;
  }
  .md-section-4 .md-row .md-col.active{
    width: 100%;
  }
  .md-section-4 .md-row .md-col{
    width: 100%;
    margin-right: 0px;
    margin-bottom: 15px;
  }
  .md-section-4 .md-row .md-col .md-text-1{
    visibility: visible;
  }
  .md-section-4 .md-row .md-col .md-text-2{
    visibility: visible;
  }
  .md-section-4 .md-row .md-col .md-text-1{
    font-size: calc(4px + 1vw);
    width: 30%;
  }
  .md-section-4 .md-row .md-col .md-text-1 span{
    font-size: calc(15px + 1vw);
    margin-bottom: 10px;
  }
  .md-section-4 .md-row .md-col .md-text-2{
    font-size: calc(6px + 1vw);
  }
  .md-section-4 .md-row .md-col.active .md-text-1{
    width: 50%;

  }
  .md-section-4 h6{
    font-size: calc(20px + 2vw);
  }
  .md-section-4 h6 span{
    font-size: calc(6px + 1vw);
  }
  .top-footer{
    text-align: center;
  }
  .top-footer strong{
    font-size: calc(10px + 1vw);
  }
  .top-footer .col-sm-6{
    margin-bottom: 20px;
  }
  .bot-footer h6{
    font-size: calc(10px + 1vw);
  }
  .bot-footer p{
    font-size: calc(6px + 1vw);
  }
  .bot-footer .left-footer{
    width: 100%;
    float: none;
    margin-bottom: 20px;
    text-align: center;
  }
  .bot-footer .right-footer{
    width: 100%;
    float: none;
    text-align: center;
  }
  .bot-footer .right-footer img{
    width: 30%;
  }
  .section-2 .md-right .owl-carousel{
    position: relative;
  }
}

@media screen and (min-width: 768px) and (min-height: 1024px) and (max-width: 900px){
  .md-container{
    height: auto;
    overflow-y: auto;
    scroll-snap-type: none;
  }
  .section{
    height: auto;
    overflow-y: auto;
    scroll-snap-type: none;
  }
  .section-2{
    padding-top: 0px;
    display: block;
  }
  .section-2 .md-right{
    position: relative;
    float: right;
  }
  .section-2 .md-left{
    position: relative;
    float: left;
    padding: 30px 30px 70px 30px;
  }
  .section-2 .md-right img{
    position: relative;
  }
}

@media screen and (max-width: 1200px){
  ul.submenu{
    position: static !important;
    background: transparent !important;
  }
  ul.submenu li{
    padding: 5px 0px !important;
  }
  .wrapper .main-menu{
    width: 100%;
    height: 100vh;
    padding-top: 30px;
    position: fixed;
    left: -100%;
    top: 0;
    background-color: rgba(255, 248, 220, 1);
    padding: 10px 20px;
    visibility: hidden;
  }
  .wrapper .main-menu li{
    float: none;
    padding: 10px 0px;
  }
  .wrapper .main-menu li a{
    color: #333;
    font-size: 15px;
    font-weight: 700;
  }
  .wrapper .main-menu li a:hover{
    color: #a96b11;
  }
  .wrapper .main-menu li.md-language{
    position: absolute;
    right: 70px;
    top: 10px;
  }
  .wrapper .main-menu .logo{
    display: block;
    float: none;
    margin-bottom: 30px;
  }
  .menu-btn{
    position: absolute;
    right: 15px;
    cursor: pointer;
    top: 20px;
    width: 24px;
    height: auto;
    display: block;
  }
  .menu-btn img{
    width: 100%;
  }
  .menu-btn-op{
    float: right;
    cursor: pointer;
    padding: 12px 0px;
  }
  .menu-btn-op span{
    width: 30px;
    height: 4px;
    margin-bottom: 4px;
    background: #a96b11;
    display: block;
  }
  ul.submenu li a{
    color: #333 !important;
  }
}